<!DOCTYPE html>
<html>
{include file='public/head'/}
<link rel="stylesheet" href="__ADMIN__/layui/css/layui.css">
<body>
<!--[if lt IE 9]>
{include file='public/ie-js'/}
<![endif]-->
<div class="charts">
    <div class="spplane-info">
        <div class="row">
            <div class="item item1 col-md-3">
                <div class="box">
                    <div class="visual">
                        <i class="icon icon-comments"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            {$count1}
                        </div>
                        <div class="desc">
                            信息发布总数
                        </div>
                    </div>
                    <!-- <a class="more" href="#"> 了解更多 <i class="icon icon-angle-right"></i> </a> -->
                </div>
            </div>
            <div class="item item2 col-md-3">
                <div class="box">
                    <div class="visual">
                        <i class="icon icon-shopping-cart"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            {$count2}
                        </div>
                        <div class="desc">
                            信息总点击量
                        </div>
                    </div>
                    <!-- <a class="more" href="#"> 了解更多 <i class="icon icon-angle-right"></i> </a> -->
                </div>
            </div>
            <div class="item item3 col-md-3">
                <div class="box">
                    <div class="visual">
                        <i class="icon icon-globe"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            {$count4}
                        </div>
                        <div class="desc">
                            总访问量
                        </div>
                    </div>
                    <!-- <a class="more" href="#"> 了解更多 <i class="icon icon-angle-right"></i> </a> -->
                </div>
            </div>
            <div class="item item4 col-md-3">
                <div class="box">
                    <div class="visual">
                        <i class="icon icon-user"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            {$count3}
                        </div>
                        <div class="desc">
                            管理员数量
                        </div>
                    </div>
                    <!-- <a class="more" href="#"> 了解更多 <i class="icon icon-angle-right"></i> </a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard">
        <div class="row top-chart">
            <div class="col-md-6 panel1">
                <div class="panel-body">
                    <div class="head">
                        <div class="pull-left">
                            <i class="icon icon-bar-chart-alt"></i>最近信息发布
                        </div>
                     <!--    <div class="pull-right">
                            <div class="tab">
                                <span class="tab-btn notice"><i class="icon icon-line-chart"></i>折线图</span>
                                <span class="tab-btn"><i class="icon icon-bar-chart"></i>柱状图</span>
                            </div>
                        </div> -->
                    </div>
                    <div class="body">
                       <!--  <img src="__ADMIN__/imgs/img7.jpg" alt=""> -->
                       <div id="main" style="height:295px"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 panel2">
                <div class="panel-body panel-body1">
                    <div class="head">
                        <div class="pull-left">
                            <i class="icon icon-bullhorn"></i>最近访问量
                        </div>
                       <!--  <div class="pull-right">
                            <div class="tab tab-blue">
                                <span class="tab-btn notice"><i class="icon icon-line-chart"></i>折线图</span>
                                <span class="tab-btn"><i class="icon icon-bar-chart"></i>柱状图</span>
                            </div>
                        </div> -->
                    </div>
                    <div class="body">
                        <!-- <img src="__ADMIN__/imgs/img8.jpg" alt=""> -->
                        <div id="main1" style="height:145px"></div>
                    </div>
                </div>
                <div class="panel-body panel-body2">
                    <div class="head">
                        <div class="pull-left">
                            <i class="icon icon-align-left"></i>最近点击量
                        </div>
                        <!-- <div class="pull-right">
                            <div class="tab tab-red">
                                <span class="tab-btn notice"><i class="icon icon-line-chart"></i>折线图</span>
                                <span class="tab-btn"><i class="icon icon-bar-chart"></i>柱状图</span>
                            </div>
                        </div> -->
                    </div>
                    <div class="body">
                        <!-- <img src="__ADMIN__/imgs/img9.jpg"> -->
                        <div id="main2" style="height:145px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel index-panel panel-green">
                    <div class="panel-heading">
                        <i class="icon icon-check"></i> <span class="title">信息发布量</span>
                    </div>
                    <div class="panel-body">

                        <div class="chart-box">
                            <div id="main3" style="height:295px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>

<script src="__ADMIN__/lib/jquery/jquery.js"></script>
<script src="__ADMIN__/lib/zui/js/zui.min.js"></script>
<script src="__ADMIN__/lib/chosen/chosen.min.js"></script>
<script src="__ADMIN__/lib/colorpicker/zui.colorpicker.min.js"></script>
<script src="__ADMIN__/lib/datetimepicker/datetimepicker.min.js"></script>
<script src="__ADMIN__/js/blocksit.min.js"></script>
<script src="__ADMIN__/js/myscript.js"></script>
<!-- ECharts单文件引入 -->
<script src="__ADMIN__/js/echarts.min.js"></script>
<script src="__ADMIN__/js/pie.js"></script>
<script type="text/javascript">
    

    //信息发布
    var myChart = echarts.init(document.getElementById('main'));     
    var countdate={$countdate};
    var countdata={$countdata};
    var option=nice1(countdate,countdata);
    //使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);

    //访问量
    var myChart1 = echarts.init(document.getElementById('main1'));     
    var countvisit={$countvisit};
    var option1=bar(countdate,countvisit);
    //使用刚指定的配置项和数据显示图表。
    myChart1.setOption(option1);

     //点击量
    var myChart2 = echarts.init(document.getElementById('main2'));     
    var countclicks={$countclicks};

    var option2=bar2(countdate,countclicks);
    //使用刚指定的配置项和数据显示图表。
    myChart2.setOption(option2);


    var myChart3 = echarts.init(document.getElementById('main3'));

    var option3=nice(countdate,countdata,countvisit,countclicks);
    //使用刚指定的配置项和数据显示图表。
    myChart3.setOption(option3);

</script>


</body>
</html>