<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link rel="stylesheet" href="__ADMIN__/lib/zui/css/zui.min.css">
    <link rel="stylesheet" href="__ADMIN__/lib/zui/css/zui-theme.min.css">
    <link rel="stylesheet" href="__ADMIN__/lib/chosen/chosen.min.css">
    <link rel="stylesheet" href="__ADMIN__/css/style.min.css">
    <link rel="stylesheet" href="__ADMIN__/lib/colorpicker/zui.colorpicker.min.css">
    <link rel="stylesheet" href="__ADMIN__/lib/datetimepicker/datetimepicker.min.css">
    <link rel="stylesheet" href="__ADMIN__/lib/zui/uploader/zui.uploader.css">
</head>