<div class="row">
    <div class="col col-title">
        SEO-标题：
    </div>
    <div class="col-xs-5">
        <input type="text" class="form-control" name="seotitle" value="{$data?$data.seotitle:''}">
    </div>
</div>

<div class="row">
    <div class="col col-title">
        SEO-关键字：
    </div>
    <div class="col-xs-5">
        <input type="text" class="form-control" name="seokeywords" value="{$data?$data.seokeywords:''}">
    </div>
</div>

<div class="row">
    <div class="col col-title">
        SEO-描述：
    </div>
    <div class="col-xs-5">
        <textarea class="form-control" style="height: 120px;" name="seodescription">{$data?$data.seodescription:''}</textarea>
    </div>
</div>