<!DOCTYPE html>
<html>
{include file='public/head'/}
<body>
<!--[if lt IE 9]>
{include file='public/ie-js'/}
<![endif]-->
<div class="menu">
    <ul class="clearfix">
        <li class="active col"><a href="{:url('/Newslist/menuindex',['fun'=>$fid,'id'=>$id])}" target="content">{$data.c_names}</a></li>
    </ul>
</div>
<div class="columnAdd">
    <form name="site" action="{:url('/Newslist/modsingle',['id'=>$id,'fun'=>$fid])}" method="post" id="form1">
        <div class="row">
            <div class="col col-title">
                正文：
            </div>
            <div class="col-xs-9" >
                <textarea class="form-control ckeditor"  name="bodys" >{$data.bodys|stripcslashes}</textarea>
                <!-- 加载编辑器的容器 -->
            </div>
        </div>

        <div class="text-center">
            <input type="submit" class="btn btn-primary" value="保存信息">
        </div>
    </form>
</div>
{include file='public/js'/}
<script>
    $(function () {
        var state="{$state}";
        if (state==1){
            layer.msg('已保存',{time:3000,icon:1});
        }else if(state==2){
            layer.msg('未保存，内容未修改',{time:3000,icon:2});
        }else if(state==3){
            layer.msg('未保存，内容含有违禁词语',{time:3000,icon:2});
        }else if(state==4){
            layer.msg('提交方式不正确',{time:3000,icon:2});
        }
    });
</script>
</body>
</html>